<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
  <title>Trang bán sim số 1 Việt Nam</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
  <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
       role="alert">
    [[${message}]]
    <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="container" style="margin-top: 10px;">
    <div class="row"
         style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
      <div class="col-sm-12">

        <p align="center">
          <img class="img-fluid" alt="Responsive image" th:src="@{'http://localhost:8080/getimage/'+${user.photo}}"
          ></p>

        <div th:if="${user}">
          <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
          <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
          <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>

          <!-- Add more user information fields as needed -->
        </div>
        <div th:unless="${user}">
          <p>No user information available.</p>
        </div>

      </div>

      <a th:href="@{'http://localhost:8080/api/v1/admin/user/edit/'+ ${user.idAppUser} }" >
      <button type="button" class="btn btn-info" >Edit</button>
      </a>

    </div>
  </div>

</div>


</body>
</html>