<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Trang bán sim số 1 Việt Nam</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Sim</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="my-3">
        <form th:action="@{'/api/v1/admin/sim/page/' +${1}}">
            <div class="row d-flex">
                <div class="col-md-6 mt-2">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input id="keyword" type="search" name="keyword" th:value="${keyword}" required
                               class="form-control"
                               placeholder="Enter keyword">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <button id="btnClear" class="btn btn-info">Clear</button>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${listSim.size() > 0}">
        <!--  <div >-->
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Số sim</th>
                <th scope="col">Giá sim</th>
                <th scope="col">Nhà mạng</th>
                <th scope="col">Loại sim</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sim : ${listSim}">
                <td th:text="${sim.idSim}"></td>
                <td th:text="${sim.so}"></td>
                <td th:text="${sim.price}"></td>
                <td th:text="${sim.tenNm}"></td>
                <td th:text="${sim.tenType}"></td>
                <td>
                    <a th:href="@{'/api/v1/admin/sim/edit/' + ${sim.idSim}}" title="Edit sim"
                       class="fa-regular fa-pen-to-square icon-dark"></a>

                    <a th:href="@{'/api/v1/admin/sim/delete/' + ${sim.idSim}}" th:soSim="${sim.so}" id="btnDelete"
                       title="Delete this sim" class="fa-regular fa-trash-can icon-dark btn-delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${listSim.size() <= 0}">
        <!--  <div >-->
        <span>No sim found!</span>
    </div>

    <div th:if="${totalPage >1}">
        <!--        <div class="row">-->
        <!--            <div class="col-sm-2">-->
        <!--                Total rows: [[${totalItems}]]-->
        <!--            </div>-->

        <!--            <div class="col-sm-1">-->
        <!--              <span th:each="i: ${#numbers.sequence(1,totalPage)}">-->
        <!--                <a th:if="${currentPage !=i}" th:href="@{'/api/v1/admin/sim/page/' +${i} +'?keyword=' +${keyword} }"> [[${i}]] </a>-->
        <!--                <span th:unless="${currentPage != i}"> [[${i}]] </span> &nbsp;&nbsp;-->
        <!--              </span>-->
        <!--            </div>-->

        <!--            <div class="col-sm-1">-->
        <!--                <a th:if="${currentPage < totalPage}"-->
        <!--                   th:href="@{'/api/v1/admin/sim/page/' +${currentPage +1} +'?keyword=' +${keyword} }">Next</a>-->
        <!--                <span th:unless="${currentPage < totalPage}">Next</span>-->
        <!--            </div>-->

        <!--            <div class="col-sm-1">-->
        <!--                <a th:if="${currentPage < totalPage}"-->
        <!--                   th:href="@{'/api/v1/admin/sim/page/' +${totalPage} +'?keyword=' +${keyword} }">Last</a>-->
        <!--                <span th:unless="${currentPage < totalPage}">Last</span>-->
        <!--            </div>-->
        <!--        </div>-->

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" >
                    <a class="page-link" th:if="${currentPage ==totalPage}"
                       th:href="@{'/api/v1/admin/sim/page/' +${1} +'?keyword=' +${keyword} }">First</a>
                    <span th:unless="${currentPage < totalPage}"></span>
                </li>
                <li class="page-item" >
                    <a class="page-link" th:if="${currentPage >1}"
                       th:href="@{'/api/v1/admin/sim/page/' +${currentPage -1} +'?keyword=' +${keyword} }">Previous</a>
                    <span th:unless="${currentPage < totalPage}"></span>
                </li>

                <span th:each="i: ${#numbers.sequence(1,totalPage)}">
                <li class="page-item">
                    <!--                    <a class="page-link" href="#">1</a>-->
                <a class="page-link" th:if="${currentPage !=i}"
                   th:href="@{'/api/v1/admin/sim/page/' +${i} +'?keyword=' +${keyword} }"> [[${i}]] </a>

                </li>
                                    <span th:unless="${currentPage != i}"> [[${i}]] </span> &nbsp;&nbsp;
                                  </span>


                <!--                <span th:each="i: ${#numbers.sequence(1,totalPage)}">-->
                <!--                <a th:if="${currentPage !=i}" th:href="@{'/api/v1/admin/sim/page/' +${i} +'?keyword=' +${keyword} }"> [[${i}]] </a>-->
                <!--                <span th:unless="${currentPage != i}"> [[${i}]] </span> &nbsp;&nbsp;-->
                <!--              </span>-->

                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPage}"
                       th:href="@{'/api/v1/admin/sim/page/' +${currentPage +1} +'?keyword=' +${keyword} }">Next</a>
                    <span th:unless="${currentPage < totalPage}"></span>
                </li>
                <li class="page-item">
                    <a class="page-link" th:if="${currentPage < totalPage}"
                       th:href="@{'/api/v1/admin/sim/page/' +${totalPage} +'?keyword=' +${keyword} }">Last</a>
                    <span th:unless="${currentPage < totalPage}"></span>
                </li>

            </ul>
        </nav>

    </div>
</div>


<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            soSim = link.attr("soSim");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the Sim \<strong\>" + soSim + "\<\/strong\>?");
            $("#confirmModal").modal();
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/api/v1/admin/sim/page/1}]]";
        });
    });
</script>


</body>

</html>